

/* Basic */

	body, input, select, textarea {
		font-size: 12pt;
	}

/* Banner */

	#banner {
		padding: 10em 0em 14em;
		min-height: calc(100vh + 200px);
	}

	#banner h2 {
		padding: 0 .5em;
	}

	#banner h3 {
		padding: 0 .5em;
	}
/* Wrapper */

	.wrapper {
		padding: 4em 0em 2em;
		/* Style 2 Wrapper */
	}

		.wrapper.style2 footer {
			width: 85%;
		}

/* Footer */

	#footer {
		padding: 4em 0em 2em;
	}

		#footer .copyright li {
			border-left: 0;
			margin-left: 0;
			padding-left: 0;
			display: block;
		}

		.android {
			display: none;
		}
