<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="8u 12u$(medium)">
        <ul class="copyright">
          <li>Made with &nbsp;<i class="fa fa-heart"></i>&nbsp; in Vancouver</li>
        </ul>
      </div>
      <div class="4u$ 12u$(medium)">
        <ul class="icons">
          <li>
            <a href="http://facebook.com/sparerides" class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
          </li>
          <li>
            <a href="http://instagram.com/sparerides" class="icon rounded fa-instagram"><span class="label">Instagram</span></a>
          </li>
          <li>
            <a href="http://twitter.com/sparerides" class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
          </li>
          <li>
            <a href="http://linkedin.com/company/spare" class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
          </li>
        </ul>
      </div>
      <div class="mixpanel-badge">
          <a href="https://mixpanel.com/f/partner" rel="nofollow"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics" /></a>
      </div>
    </div>
  </div>
</footer>
