<header id="header">
  <div><a href="index"><img class="logo" src="images/logo.png"/></a></div>
  <nav id="nav" class="primary">
    <ul>
      <li><a class="ride-header" href="ride">{{ page.rideButtonTitle }}</a></li>
      <li><a class="drive-header" href="drive">{{ page.driveButtonTitle }}</a></li>
      <li><a class="faq-header" href="faq">{{ page.faqButtonTitle }}</a></li>
      <li><a class="team-header" href="team">{{ page.teamButtonTitle }}</a></li>
      <li><a class="contact-us-header" href="contact-us">{{ page.contactUsButtonTitle }}</a></li>
      <li><a href="#" class="button special">Spare+</a></li>
    </ul>
  </nav>
</header>
