<!DOCTYPE html>

<html lang="en">

  {% include head-page.html %}

	<body class="landing">
		<!-- Banner -->
      {% include gtm.html %}
      {% include header.html %}

      <section id="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(20, 0, 35, 0.6)), url({{ page.heroImage }})">
				<h1>{{ page.title }}</h1>
			</section>

			<section>
        <div class="container">
            <p class="text-section">On June 21st, 2016 <a class="purple" href="http://sparerides.com">Spare Rides</a> and <a class="purple"  href="https://www.basecampcards.com/">Basecamp Card Co.</a> will be offering free rides from 8am - 11am across Vancouver.
               This is an effort to help build connections among Vancouverites and bring our city closer together. 
               <b>BONUS</b>: participants will get <b>$15 credit</b> on their Spare account* + free <b>Basecamp Cards set</b> (value $12.95)</p>
                     <h3 class="orange">If you are interested in participating please fill in the following form. (* required)</h3>
        </div>
      </section>

    <section>
      <div class="container">
					<form action="#" method="post">
						<div class="row uniform">
							<div class="6u 12u$(small)">
								<input name="first-name" id="first-name" value="" placeholder="First Name*" type="text">
							</div>
							<div class="6u$ 12u$(small)">
								<input name="last-name" id="last-name" value="" placeholder="Last Name*" type="text">
							</div>
              <div class="6u 12u$(small)">
								<input name="phone-number" id="phone-number" value="" placeholder="Phone Number*" type="text">
							</div>
							<div class="6u$ 12u$(small)">
								<input name="email" id="email" value="" placeholder="Email*" type="email">
							</div>
              <div class="6u 12u$(small)">
								<input name="pick-up-address" id="pick-up-address" value="" placeholder="Pick-up Address*" type="text">
							</div>
							<div class="6u$ 12u$(small)">
								<input name="destination-address" id="destination-address" value="" placeholder="Destination Address*" type="text">
							</div>
              <div class="6u 12u$(small)">
								<input name="pickup-time" id="pickup-time" value="" placeholder="Pick-up Time*" type="text">
							</div>
							<div class="6u$ 12u$(small)">
								<input name="comments" id="comments" value="" placeholder="Comments" type="text">
							</div>
              <div class="12u">
										<input type="checkbox" id="human" name="human" checked>
										<label for="human">I hereby grant permission to be filmed and to use my film/photo 
                      image for display on the website(s) of Spare Rides, Basecamp cards, Axe or 
                      their Facebook, YouTube pages as well as in other media and promotional purposes.</label>
							</div>
						</div>
            <div style="text-align: center">
                <input value="Sign me up!" class="button drive-button" type="submit">
            </div>
					</form>
      </div>

      <section>
        <div class="container">
            <h2 class="faq-question-title"></h2>
            <p class="text-section">Disclaimer: We thank all applicants for their interest, 
              however due to limited amount of drivers, we may not be able to confirm all 
              participants. Please monitor your email or expect a phone call for confirmation.</p>
        </div>
      </section>

      <section>
        <div class="container">
            <p class="text-section">*to get $15 credit on the Spare Rides account, you 
              will need to download the app <a class="purple" href="https://sparerides.com/app">here</a>.</p>
        </div>
      </section>

      <footer class="app-store-link-footer">
              <ul class="actions">
                <li></li>
                <li>
                  <a href="http://sparerides.com/app" class="footer-download"><img src="images/app-store.svg"/></a>
                </li>
              </ul>
        </footer>

        </section>

    {% include footer.html %}

	</body>
</html>
