<!DOCTYPE html>

<html lang="en">

  {% include head.html %}

	<body class="landing">
		<!-- Banner -->

      {% include header.html %}

			<section id="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(138, 63, 0, 0.40)), url({{ page.heroImage }})">

        <h2>{{ page.title }}</h2>
				<h3>{{ page.subtitle }}</h3>

				<div class="container">
				    <div class="12u$ inline">
					    <form action="ride">
						    <input class="button big ride-button" type="submit" value="{{ page.rideButtonTitle }}">
						</form>
					</div>
				    <div class="12u$ inline">
						<form action="drive">
						    <input class="button big drive-button" type="submit" value="{{ page.driveButtonTitle }}">
						</form>
					</div>
          <div class="12u$">
            <a href="http://sparerides.com/app" class="app-store-button"><img src="images/app-store.svg"/></a>
          </div>
        </div>
        {% include footer.html %}
			</section>


	</body>
</html>
