<!DOCTYPE html>

<html lang="en">

  {% include head-page.html %}

	<body class="landing">
		<!-- Banner -->
      {% include gtm.html %}
      {% include header.html %}

      <section id="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(142, 72, 0, 0.6)), url({{ page.heroImage }})">
				<h1>{{ page.title }}</h1>
				<h3>{{ page.subtitle }}</h3>

				<div class="container">
          <div class="12u$">
            <a href="http://sparerides.com/app" class="app-store-button"><img src="images/app-store.svg"/></a>
          </div>
				</div>
			</section>

      <section class="wrapper style2 special">
        <header class="major">
          <h2>Limited Time: <span class="orange">Minimum $50 a month</span> for first 200 drivers!</h2>
          <p>Do you drive through here!?</p>
        </header>
				<div class="container 75%">
					<span class="image fit"><img class="map" src="{{ page.spareZoneImage }}" alt="" /></span>
          <header class="major">
            <p>
            Since we just launched on the iOS App Store 🙌, our dedicated team
            wants to make sure that users are getting the best experience possible. <br /> <br />
             So here’s a sweet deal for the <span class="orange">first 200 drivers</span> to
             download, sign-up and use our app: you are going to get guaranteed
             payment just by using our app within the Spare Rides zone
             (see map above). Get minimum $50 a month for usage during
             the next 60 days. </p>
         </header>
				</div>
			</section>

      <section class="wrapper style2 dark special">
				<div class="container">
					<div class="box alt">
						<div class="row 50% uniform">
							<div class="4u 12u$(small)">
							<header><h2>{{ page.enterDestinationTitle }}</h2></header>
								<span class="image fit low-padded"><img src="{{page.enterDestinationImage}}" alt="" /></span>
							</div>
							<div class="4u 12u$(small)">
								<header><h2>{{ page.getMatchedTitle }}</h2></header>
								<span class="image fit low-padded"><img src="{{page.getMatchedImage}}" alt="" /></span>
							</div>
							<div class="4u$ 12u$(small)">
								<header><h2>{{ page.goTitle }}</h2></header>
								<span class="image fit low-padded"><img src="{{page.goImage}}" alt="" /></span>
							</div>
						</div>
					</div>
				</div>
			</section>

      <section class="wrapper style1 special">
				<div class="container">
          <header class="major">
            <h2>Spare turns your daily Commute<br />into <span class="purple">$$, fun, and adventure</span></h2>
          </header>
					<div class="box alt">
						<div class="row">
							<div class="6u 12u$(small)">
								<span class="image fit low-padded"><img src="images/example-drive-trip.png" alt="" /></span>
							</div>
              <div class="6u 12u$(small) center-img">
                <div class="side-caption-text side-caption-text-first">😀 &nbsp;&nbsp; Make a <span class="orange">new friend</span></div>
                <div class="side-caption-text">💵 &nbsp;&nbsp; <span class="orange">Cover the cost</span> of your car</div>
                <div class="side-caption-text">🌲 &nbsp;&nbsp; Drive <span class="orange">sustainably</span></div>
							</div>
						</div>
					</div>
          <h2>Find out about our pricing <a href="faqs"><span class="purple">here</span></a></h2>
				</div>
			</section>

			<section class="wrapper style1 dark special">
				<div class="container">
					<header class="major">
						<h2>We are focused!</h2>
						<p>Spare Rides works best when driving through the highlighted area, the UBC-Broadway Corridor.  If you want to use our service somewhere else, we would love to <a href="contact"><span class="purple">hear from you</span></a>!</p>
					</header>
					<span class="image fit"><img class="map" src="{{ page.spareZoneImage }}" alt="" /></span>

				</div>
			</section>

			<section id="none" class="wrapper style2 special">
				<div class="container">
					<header class="major">
						<h2>We've been in the news!!</h2>
					</header>

					<div class="box alt">
						<div class="row 50% uniform">
							<div class="4u 12u$(small)">
								<a href="http://bc.ctvnews.ca/vancouver-companies-ready-for-uber-competition-1.2758372">
									<span class="image fit medium-padded"><img src="images/ctv-logo.png" alt="" /></span>
								</a>
							</div>

              <div class="4u 12u$(small)">
								<a href="http://www.cbc.ca/news/canada/british-columbia/carpooling-spare-rides-app-launches-in-vancouver-1.3461846">
									<span class="image fit medium-padded"><img src="images/cbc-logo.png" alt="" /></span>
								</a>
							</div>

              <div class="4u$ 12u$(small)">
								<a href="http://www.vancouversun.com/spare+rides+brings+carpooling+into+21st+century/11739353/story.html">
									<span class="image fit medium-padded"><img src="images/vancouver-sun-logo.png" alt="" /></span>
								</a>
							</div>

              <div class="4u 12u$(small)">
								<a href="http://www.vancitybuzz.com/2016/02/spare-rides-vancouver-ride-share/">
									<span class="image fit medium-padded"><img src="images/vancity-buzz-logo.jpg" alt="" /></span>
								</a>
							</div>

							<div class="4u 12u$(small)">
								<a href="http://www.vancouverisawesome.com/2016/02/22/new-ridesharing-app-launches-in-vancouver/">
									<span class="image fit medium-padded"><img src="images/vancouver-is-awesome-logo.png" alt="" /></span>
								</a>
							</div>

							<div class="4u 12u$(small)">
								<a href="http://globalnews.ca/news/2541663/ubc-graduates-create-app-for-carpooling/">
									<span class="image fit medium-padded"><img src="images/global-news-logo.png" alt="" /></span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<footer>
					<p>We look forward to seeing you out there! &nbsp;<i class="fa fa-smile-o"></i>&nbsp;  Happy Sparing!</p>
					<ul class="actions">
						<li></li>
						<li>
							<a href="http://sparerides.com/app" class="footer-download"><img src="images/app-store.svg"/></a>
						</li>
					</ul>
				</footer>
			</section>

    {% include footer.html %}

	</body>
</html>
