<!DOCTYPE html>

<html lang="en">

  {% include head-page.html %}

	<body class="landing">
		<!-- Banner -->
      {% include gtm.html %}
      {% include header.html %}

      <section id="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(25, 61, 72, 0.6)), url({{ page.heroImage }})">
				<h1>{{ page.title }}</h1>
			</section>

			<section>

        <div class="container">
          <div class="row">
            <div class="6u 12u(medium)">
              <h3 class="faq-question-header">Trust and Security</h3>
              <a class="faq-question" href="#how-does-app-ensure-safety">How does the app make sure that I am safe?</a>
              <a class="faq-question" href="#spare-with-icbc-insurance">How does this work with my ICBC insurance?</a>
              <a class="faq-question" href="#trust-spare-for-daily-commute">Why should I trust Spare for my daily commute?</a>
            </div>

            <div class="6u 12u(medium)">
              <h3 class="faq-question-header">Spare Community</h3>
              <a class="faq-question" href="#spare-community">Spare Community</a>
              <a class="faq-question" href="#respect-responsibility">Respect and Responsibility</a>
              <a class="faq-question" href="#be-a-part-of-the-movement">Being part of the movement</a>
            </div>

            <div class="6u 12u(medium)">
              <h3 class="faq-question-header">Gettings Started</h3>
              <a class="faq-question" href="#create-first-trip">How do I create my first trip?</a>
              <a class="faq-question" href="#what-happens-after-create-trip">What happens after I create my trip?</a>
            </div>

            <div class="6u 12u(medium)">
              <h3 class="faq-question-header">Getting Matched</h3>
              <a class="faq-question" href="#when-find-out-match">When do I find out about my match?</a>
              <a class="faq-question" href="#how-do-know-match">How do I know that I got matched?</a>
              <a class="faq-question" href="#what-if-dont-get-matched">What if I don't get matched?</a>
            </div>
            <div class="6u 12u(medium)">
              <h3 class="faq-question-header">Taking a Trip</h3>
              <a class="faq-question" href="#what-happens-on-day-of-trip">What happens on the day of the trip?</a>
              <a class="faq-question" href="#should-i-contact-to-confirm">Should I contact my driver/rider to confirm the trip?</a>
              <a class="faq-question" href="#how-does-spare-organize-trip">How does the app organize my trip?</a>
              <a class="faq-question" href="#should-i-contact-if-late">Should I contact the driver/rider if I am late?</a>
              <a class="faq-question" href="#what-if-driver-does-not-show-up">What if my driver/rider does not show up?</a>
              <a class="faq-question" href="#what-if-need-to-cancel">What if I need to cancel my trip?</a>
            </div>
            <div class="6u 12u(medium)">
              <h3 class="faq-question-header">Completing a Trip</h3>
              <a class="faq-question" href="#can-rate-driver-rider">Can I rate the rider/driver?</a>
              <a class="faq-question" href="#can-make-trip-with-same-person">Can I take a trip with the same person multiple times?</a>
              <a class="faq-question" href="#how-do-i-pay">How do I pay/get paid?</a>
            </div>
            <div class="6u 12u(medium)">
              <h3 class="faq-question-header">Guaranteeing Your Trip</h3>
              <a class="faq-question" href="#what-is-guaranteed-trip">What is a Guaranteed Trip?</a>
            </div>
            <div class="6u 12u(medium)">
              <h3 class="faq-question-header">Pricing</h3>
              <a class="faq-question" href="#how-does-pricing-work">How does Spare calculate the cost of a trip?</a>
            </div>
            <div class="6u 12u(medium)">
              <h3 class="faq-question-header">Special Offers</h3>
              <a class="faq-question" href="#coupon-code">How do I redeem my coupon code?</a>
            </div>
          </div>
            <h2 class="faq-section-header">Trust and Security</h4>

            <h3 class="faq-question-title" id="how-does-app-ensure-safety">How does the app make sure that I am safe?</h3>
            <p>Our primary concern is the safety of our users! We have therefore
            put in place the following safety mechanisms before, during,
            and after the use of Spare Rides.</p>

            <h4 class="orange">Before your trip:</h4>
            <ul>
                <li>
                    <u>Facebook Verification</u>. To use Spare Rides, person should 
                    have a valid Facebook profile. We will pull both profile 
                    picture and full name in order to verify that this is a real 
                    person. In addition to this, Facebook does their own verification 
                    of their users.
                </li>
                <li>
                    <u>Phone Number Verification</u>. We also store the phone number in our 
                    database to keep a full historical record of all users.
                </li>
                <li>
                    <u>Credit card information</u> which we verify through the trusted payment processing company <a href="stripe.com">Stripe</a>.
                </li>
            </ul>

            <h4 class="orange">During your trip:</h4>
            <ul>
                <li>
                    <u>GPS location</u> of both driver and rider is tracked at all times and recorded on our system. 
                    We have full access to this information during the trip but also after the trip has been completed.
                </li>
                <li>
                    <u>One-touch access to customer service phone number</u> which we are
                     manning during your trip and service hours.
                </li>
            </ul>

            <h4 class="orange">After your trip:</h4>
            <ul>
                <li>
                  <u>Rating and review</u>. Both the driver and the rider are prompted to review one another. We always follow up if there are any issues.

                </li>
                <li>
                  <u>Direct feedback</u>. Users will be able to send any comments about their trip directly to us after each trip and report about any issues. 
                </li>
            </ul>

            <h3 class="faq-question-title" id="spare-with-icbc-insurance">How does this work with my ICBC insurance?</h3>

            <p>Under the Section 55 of the Regulations under BC Law, as long as you
            respect the terms of your Autoplan contract and use your vehicle
            for leisure purposes, you are within the law.</p>

            <p>With regards to ridesharing, <a class="purple" href="http://drivesmartbc.ca/miscellaneous/carpooling-makes-sense">
            documentation around Carpooling</a> suggests that:</p>

            <p><i>"If money is given to offset the cost, a vehicle owner may
              insure their vehicle in the rate class for its normal use,
              provided that their passengers’ contributions do not exceed
              the cost of fuel, insurance, wear and tear, and/or parking
              for the trip and don’t include expenses for depreciation of
              their vehicle. Their vehicle will only need to be rated for
              business use if they start gaining financially from driving
              passengers."</i></p>

            <p>For as long as you use Spare Rides' services non-commercially
              (as per our Terms &amp; Conditions) to offset your costs of
              driving, you should adhere to the same policies as carpooling.</p>

            <p>We strongly recommend you check with your Autoplan dealer the
              terms of your insurance contract, to ensure you have sufficient
              insurance to take several riders at once.</p>

            <p>If you are a BC vehicle owner, <a href="http://drivesmartbc.ca/miscellaneous/carpooling-makes-sense">
              ICBC's basic coverage</a> has a few mandatory protections in place
              that cover you in the event of an accident:</p>

            <h4 class="orange">Third Party Liability</h4>
            <p><i>Protects you when you're at fault in a crash and another
              motorist makes a claim against you. Your Basic Autoplan covers
              up to $200,000 of their injury costs and vehicle damage.</i></p>

            <h4 class="orange">Autoplan Accident Benefits</h4>
            <p><i>Help you, your passengers and members of your household
              with medical costs, wage loss and more if you’re injured in a
              motor vehicle crash, even if you’re at fault.</i></p>

            <p><i>Accident Benefits provide up to $150,000 in medical and
              rehabilitation costs. This could include costs like hospital
              care, chiropractic treatments, dental care, medication,
              physiotherapy, medical equipment and more.</i></p>

            <p><b>While ICBC's minimum liability coverage is $200,000,
              we recommend a minimum third party liability coverage of
              $2 million to be extra safe if you're going to be taking
              passengers. You can easily increase your liability limit
              by talking to your Autoplan dealer.</b></p>


            <h3 class="faq-question-title" id="trust-spare-for-daily-commute">Why should I trust Spare for my daily commute?</h3>
            <p>We work hard to make sure that you have the best commuting experience possible during your trip. 
              Here are several reasons why you can trust Spare for your daily commute:</p>
              <ul>
                <li>
                  Spare uses smart algorithms to offer you best matching options for fast and convenient trip with minimum detour.
                </li>
                <li>
                  <u>You only tell us your regular commuting time and destination.</u> That’s it! We will take care of the rest and 
                  notify you when we find matches for your trip so you can review and accept them. Simple and fun! 
                </li>
                <li>We notify our drivers and riders about <u>all details of the trip in advance</u>. 
                  We also send them notifications one hour before to make sure that both rider 
                  and driver will not forget about the trip. 
                </li>
                <li><u>Riders can track driver’s route</u> and know exactly when the driver arrives. This also ensures that the rider 
                will be ready for pick-up when the driver arrives. 
            </li>
              <li>Guaranteed payment. Spare has cancellation policy that ensures that the driver and the 
                rider will make the trip in case if the trip was scheduled and has not been cancelled 12 
                hours before. If any party doesn’t not show up for the trip, other party gets refund equal to the cost of the trip. 
                </li>
                <li>We have serious <a class="purple" href="#how-does-app-ensure-safety">safety mechanisms</a> as we want to make sure that your
                   commuting experience will not be only fun but also safe.
                </li>
            </ul>

            <h2 class="faq-section-header">Spare Community</h4>
            <h3 class="faq-question-title" id="spare-community">Spare Community</h3>
            <p>Carpooling is not only a sustainable and convenient alternative to traditional transit but it is also a good option to socialize without
               changing your daily routine and plans. Spare strives to create a community of people joined by a common idea of making
                Vancouver better place to live by sharing their daily commute. <br /><br />
                We encourage people to expand their network, discover new people that live in the same city, neighbourhood or work in the same company. Join our 
                <a href="https://www.facebook.com/groups/sparecommunity/" class="purple">FB group</a> to be the part of Spare community and follow the latest 
                community events and news.</p>

            <h3 class="faq-question-title" id="respect-responsibility">Respect and Responsibility</h3>
            <p>Spare works hard to provide our users with the best commuting experience, however, 
              Spare is also a social app which means that positive and respectful attitude of
               people is a core for creating best experience during the trip.   <br /><br />
            We highly support the idea of respectful and positive attitude during the trip. We also encourage 
          our users to be responsible about the scheduled trips and respect users’ time and plans.  </p>

          <h3 class="faq-question-title" id="be-a-part-of-the-movement">Being part of the movement</h3>
            <p>By joining Spare, you also join <a href="http://sharedusemobilitycenter.org/what-is-shared-mobility/" class="purple">shared mobility movement</a> 
            that helps to address problems of 
              congestion, emissions and sustainability. Help us make our world better place to live!</p>

            <h2 class="faq-section-header">Getting Started</h4>
              <h3 class="faq-question-title" id="create-first-trip">How do I create my first trip?</h3>
            <p>Great news! You are ready to create your first trip. Just follow the simple steps: </p>
            <ul>
                <li>
                  <a href="http://sparerides.com/app" class="purple">Download the app</a> (it is free!) and verify your Facebook account and your phone number.
                  </li>
                <li>
                   Choose whether you are a rider, driver, or are ok with being either!
                </li>
                <li>
                  Enter your home and work address to let us know your commute
                </li>
                <li>
                  On the home screen select "Tap to Create Trip" then adjust the time window you would like to be matched in.
                </li>
                <li>At 8:30PM the night before you'll be matched with awesome people!</li>
            </ul>

            <h3 class="faq-question-title" id="what-happens-after-create-trip">What happens after I create my trip?</h3>
            <p>After you create your trip, Spare starts searching best matching 
              options for you. At 8:30PM the night before, the app sends you notification 
              to let you know that we've found you a match and provides you with all the trip details.</p>

            <h2 class="faq-section-header">Getting Matched</h4>

            <h3 class="faq-question-title" id="when-find-out-match">When do I find out about my match?</h3>
            <p>You will recieve all your trip details, including who you will be riding with or driving for
              at 8:30PM the night before your trips.  You can select the trip and see where the pick up and drop off
              locations are, and also select the profile photo to see more about your rider or driver.
            </p>

            <h3 class="faq-question-title" id="how-do-know-match">How do I know that I got matched?</h3>
            <p>As soon as you get matched, we will send you notification about it.
               After you receive notification, you can go to the app to see more
                details about the match. Make sure that your notification option is turned on. </p>

            <h3 class="faq-question-title" id="what-if-dont-get-matched">What if I don't get matched?</h3>
            <p>All Spare routes are Guaranteed.  That means that even if you don't get matched we will provide
              you with a <a class="purple" href="#what-is-guaranteed-trip">Guaranteed Trip</a>.
            </p>

            <h2 class="faq-section-header">Taking a Trip</h4>

            <h3 class="faq-question-title" id="what-happens-on-day-of-trip">What happens on the day of the trip?</h3>
            <p>Congratulations! Looks like you found a match and confirmed your trip! Now you have the most exciting part – meeting your match! Don’t forget to check the trip time in advance to make sure that you are not late. Just in case, one hour before the trip we will send you a reminder. 
            <br /><br />
            <b>If you are a driver</b>, open your trip window in the app, it will show you where to go and time when the rider expects your pick-up. 
            <br /><br />
            <b>If you are a rider</b>, you can see when the driver is expecting to pick you up.  Please, make sure to be ready for a pick up at the scheduled time. 
            <br /><br />
            Your commute just officially became awesome! Enjoy the nice conversation and your trip! 
            </p>

            <h3 class="faq-question-title" id="should-i-contact-to-confirm">Should I contact my driver/rider to confirm the trip?</h3>
            <p>It is not necessary to contact your driver/rider to confirm the trip. As soon as you 
              confirm the trip in the app, other party gets notified about the details of upcoming trip 
              and gets ready for it. If other party cancels the trip, you will get a notification about it.  You have the option to message
              and call the driver or rider if you need to.  This can be seen in the trip details view by tapping on the trip from the home screen.    
            </p>

            <h3 class="faq-question-title" id="how-does-spare-organize-trip">How does the app organize my trip?</h3>
            <p>Spare makes its best to create smooth and positive commuting experience for you. This is how we do it:      
            </p>

            <ul>
                <li>We offer drivers shortest route with minimum detour to make sure that the trip will be as fast as possible.</li>
                <li>We notify our drivers and riders about all details of the trip in advance to decrease the chances of not showing-up or 
being late. </li>
                <li>We have <a class="purple" href="#what-is-guaranteed-trip">guaranteed trip</a> payments in case of no-show up or late cancellation.
                   If any party cancels the trip in less than 12 hours or doesn’t 
                   show up for the trip, other party gets a <a class="purple" href="#what-is-guaranteed-trip">guaranteed trip</a> payment.</li>
                <li>We have serious safety mechanisms as we want to make sure that your 
                  commuting experience will not only be fun but also safe including driver and rider verification.</li>
                <li>We encourage people to network and socialize during the trip which turns your 
                  traditional passive hours of commute into fun part of the day.</li>
            </ul>

            <h3 class="faq-question-title" id="should-i-contact-if-late">Should I contact the driver/rider if I am late?</h3>
            <p>We strongly encourage our users to plan their trips and possible traffic 
              congestions and be on time. In case if you are late, we recommend 
              you to call and inform the rider/driver about it.      
            </p>

            <h3 class="faq-question-title" id="what-if-driver-does-not-show-up">What if my driver/rider does not show up?</h3>
            <p>For riders:  If your driver will not show up, you get 100% refund of your trip cost. <br />
For drivers:  if your rider does not show up, you still recieve 100% of your trip cost.      
            </p>

            <h3 class="faq-question-title" id="what-if-need-to-cancel">What if I need to cancel my trip?</h3>
            <p>Spare allows you to cancel a trip before the trip time once every two weeks.  If you have to cancel more than
              once in a two week period you will be charged the cost of the trip.     
            </p>

            <h2 class="faq-section-header">Completing a Trip</h4>

            <h3 class="faq-question-title" id="can-rate-driver-rider">Can I rate the rider/driver?</h3>
            <p>Yes, after you complete your trip, you can rate your rider and driver and provide optional feedback to Spare on your trip.  
            </p>

            <h3 class="faq-question-title" id="can-make-trip-with-same-person">Can I take a trip with the same person multiple times?</h3>
            <p>Yes, you can.  The better you rate a rider or driver, the more likely you are to get matched with them again.
            </p>

            <h3 class="faq-question-title" id="how-do-i-pay">How do I pay/get paid?</h3>
            <p>All payments are processed in the app and there is no cash exchange. When your trip 
              completes, the driver automatically recieves their payment in the Spare wallet. <br /><br />
              To set this up go to <b>Settings → Payments → Bank Account</b> and provide 
              us with the necessary information. Spare uses the safe and secure, PCI-DSS compliant service,
              Stripe to handle all payment transactions. 
            </p>

            <h2 class="faq-section-header">Guaranteeing Your Trip</h4>

            <h3 class="faq-question-title" id="what-is-guaranteed-trip">What is a Guaranteed Trip?</h3>
            <p>If you are on a Spare Guaranteed Route, Spare guarantees that you will either get a match
              or get paid as if you had one.  This applies to both riders and drivers.
            </p>

            <h2 class="faq-section-header">Pricing</h4>

            <h3 class="faq-question-title" id="how-does-pricing-work">How does Spare calculate the cost of the trip?</h3>
            <p>Spare has a dynamic pricing mechanism which depends on the distance of the trip. As an example,
               approximate cost of the trip from Richmond to UBC is $6. 
            </p>

            <h2 class="faq-section-header">Special Offers</h4>

            <h3 class="faq-question-title" id="coupon-code">How do I redeem a coupon code?</h3>
            <p>To redeem a coupon code within the app go to <span class="orange">
              Settings → Redeem Coupon.</span> Your account balance will
              update automatically</p>

            <footer class="app-store-link-footer">
              <ul class="actions">
                <li></li>
                <li>
                  <a href="http://sparerides.com/app" class="footer-download"><img src="images/app-store.svg"/></a>
                </li>
              </ul>
            </footer>
				</div>
			</section>


    {% include footer.html %}

	</body>
</html>
