<!DOCTYPE html>

<html lang="en">

  {% include head-page.html %}

	<body class="landing">
		<!-- Banner -->

      {% include header.html %}

      <section id="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(25, 61, 72, 0.6)), url({{ page.heroImage }})">
				<h1>{{ page.title }}</h1>
			</section>

			<section>

        <div class="container 50%">

            <h2 class="faq-question-title">Why would I use Spare Rides?</h2>
            <p>We are filling spare seats 🚣 with a fun journey, every day 🙌!
              Spare Rides is a new innovative app that is changing the way people
              commute. It provides real-time commute-sharing with people travelling
              in the same direction. Riders get matched with drivers within the app
              and pay for a portion of the cost of the trip, this allows for a more
              social 😎, sustainable 🌼 and affordable 💸 way to commute!</p>

            <h2 class="faq-question-title">What will I pay as a rider?</h2>
            <p>Our pricing is very simple, only <span class="orange">$1.50 in base
              fare and $0.50 per kilometer</span>. For example, if you are travelling
              4.9 km (example trip shown below), you will be charged $3.85 for
              the ride. Be part of the sharing community 💪 !</p>

            <span class="image fit"><img src="images/example-ride-trip.png" alt="" /></span>

            <p>Spare Rides is a great way to commute. You make a new friend,
              it is twice the speed of transit (yay to not waiting at the
              bus stop 🙌), and it compares really well to other commuting
              options in Vancouver.</p>

            <h2 class="faq-question-title">How much will I make as a driver?</h2>
            <p>We know driving a car is expensive 💰! Did you know that, on
              average, it costs over $8,000 to own and drive a car in
              Canada 🚗. As a driver using Spare Rides, you you will make
              <span class="orange">$1.00 in base fare and $0.35 per kilometer</span>
               for the rider you pick up. For example, if a rider needs to go
               just over 11 km (example trip shown below), you will be making $5
               for each rider. Be part of the sharing community 💪 !</p>

            <span class="image fit"><img src="images/example-drive-trip.png" alt="" /></span>

            <h2 class="faq-question-title">Where does this work?</h2>

            <p>As a rider, we currently operate the service exclusively in
              Vancouver between 1st and 16th, UBC and Commercial (see Spare
              Rides Zone below) during commuting hours (weekdays 8 AM to 11 AM,
              and 3 PM to 6 PM). If you would like us to expand our service
              to a certain location, <a href="contact" class="purple">let us know
              </a>- we might be heading your way 😜.</p>

            <p>As a driver, you can use Spare Rides anywhere, but pickup and
              dropoff of riders are only open within the Spare Rides Zone
              (see map below) during commuting hours (weekdays 8 AM to
              11 AM, and 3 PM to 6 PM). The service therefore works best if
              you are driving for at least 5 km through the Spare Rides Zone.
              If you would like us to expand our service to a certain
              location, <a href="contact" class="purple">let us know</a> -
              we might be heading your way 😜.</p>

              <span class="image fit"><img src="images/map-highlighted.png" alt="" /></span>

            <h2 class="faq-question-title">How do you keep drivers/riders safe?</h2>
            <p>Our primary concern is the safety of our users! We have therefore
            put in place the following safety mechanisms before, during,
            and after the use of Spare Rides.</p>

            <h4 class="orange">Before using Spare Rides:</h4>
            <ul>
                <li>
                    To use Spare Rides, you first need to log in with Facebook.
                    This ensures us that the person has a valid Facebook profile.
                    We will pull both profile picture and full name, in order to
                    verify that this is a real person. In addition to this,
                    Facebook does their own verification of their users.
                </li>
                <li>
                    We verify users’ phone numbers, giving us a direct line to
                    the user. We also store the phone number in our database,
                    to keep a full historical record of all users.
                </li>
                <li>
                    Riders need to enter in their credit card information,
                    which we verify through the trusted payment processing
                    company Stripe.
                </li>
            </ul>

            <h4 class="orange">While using Spare Rides:</h4>
            <ul>
                <li>
                    The GPS location of both driver and rider is tracked at
                    all times and recorded on our system.
                    We have full access to this information during the trip,
                    but also after the trip has been completed.
                </li>
                <li>
                    The rider and driver have a one-touch access to
                    calling our Spare Rides customer phone number, which we
                    are manning during service hours.
                </li>
            </ul>

            <h4 class="orange">After using Spare Rides:</h4>
            <ul>
                <li>
                    Both the driver and the rider are prompted to review one
                    another, giving us a way to follow up if there are any
                    problems.
                </li>
                <li>
                    We have full control of who is permitted into the system.
                    If we deem that a user is misusing the system, we will
                    be able to ban the user from further using the system.
                </li>
                <li>
                    Users will be able to send any comments about their trip
                    directly to us after each trip, so that we can follow up
                    with any negative experiences in using Spare Rides as
                     quickly as possible.
                </li>
            </ul>

            <h2 class="faq-question-title">How does this work with my ICBC insurance?</h2>

            <p>Under the Section 55 of the Regulations under BC Law, as long as you
            respect the terms of your Autoplan contract and use your vehicle
            for leisure purposes, you are within the law.</p>

            <p>With regards to ridesharing, <a class="purple" href="http://drivesmartbc.ca/miscellaneous/carpooling-makes-sense">
            documentation around Carpooling</a> suggests that:</p>

            <p><i>"If money is given to offset the cost, a vehicle owner may
              insure their vehicle in the rate class for its normal use,
              provided that their passengers’ contributions do not exceed
              the cost of fuel, insurance, wear and tear, and/or parking
              for the trip and don’t include expenses for depreciation of
              their vehicle. Their vehicle will only need to be rated for
              business use if they start gaining financially from driving
              passengers."</i></p>

            <p>For as long as you use Spare Rides' services non-commercially
              (as per our Terms &amp; Conditions) to offset your costs of
              driving, you should adhere to the same policies as carpooling.</p>

            <p>We strongly recommend you check with your Autoplan dealer the
              terms of your insurance contract, to ensure you have sufficient
              insurance to take several riders at once.</p>

            <p>If you are a BC vehicle owner, <a href="http://drivesmartbc.ca/miscellaneous/carpooling-makes-sense">
              ICBC's basic coverage</a> has a few mandatory protections in place
              that cover you in the event of an accident:</p>

            <h4>Third Party Liability</h4>
            <p><i>Protects you when you're at fault in a crash and another
              motorist makes a claim against you. Your Basic Autoplan covers
              up to $200,000 of their injury costs and vehicle damage.</i></p>

            <h4>Autoplan Accident Benefits</h4>
            <p><i>Help you, your passengers and members of your household
              with medical costs, wage loss and more if you’re injured in a
              motor vehicle crash, even if you’re at fault.</i></p>

            <p><i>Accident Benefits provide up to $150,000 in medical and
              rehabilitation costs. This could include costs like hospital
              care, chiropractic treatments, dental care, medication,
              physiotherapy, medical equipment and more.</i></p>

            <p><b>While ICBC's minimum liability coverage is $200,000,
              we recommend a minimum third party liability coverage of
              $2 million to be extra safe if you're going to be taking
              passengers. You can easily increase your liability limit
              by talking to your Autoplan dealer.</b></p>

            <h2 class="faq-question-title">Is there an Android app?</h2>
            <p>We are working hard to get an android app out to our users!  Please sign up for our beta list
            <a href="http://eepurl.com/bQY5Hr" class="purple">here</a> and we will let you know when you can
            get an early release!</p>

            <h2 class="faq-question-title">How do I redeem a coupon code?</h2>
            <p>To redeem a coupon code within the app go to <span class="orange">
              Settings &#8594; Account Credits.</span> Your account balance will
              update automatically</p>

            <footer class="app-store-link-footer">
              <ul class="actions">
                <li></li>
                <li>
                  <a href="http://sparerides.com/app" class="button big"><img src="images/app-store.svg"/></a>
                </li>
              </ul>
            </footer>
				</div>
			</section>


    {% include footer.html %}

	</body>
</html>
