<!DOCTYPE html>

<html lang="en">

  {% include head-page.html %}

	<body class="landing">
		<!-- Banner -->

      {% include header.html %}

      <section id="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(25, 61, 72, 0.6)), url({{ page.heroImage }})">
				<h1>{{ page.title }}</h1>
			</section>

			<section>

        <div class="container 75%">
            <h2 class="faq-question-title">Pricing</h2>
            <p><span class="orange">For the rider</span>: $1.50 base fare and $0.50 per kilometer</p>
            <p><span class="orange">For the driver</span>: $1.00 base fare and $0.35 per kilometer</p>

            <h2 class="faq-question-title">Where does this work?</h2>
            <p>We currently operate the service exclusively in Vancouver between 1st and 16th, UBC and Commercial.
              If you would like us to expand our service to a certain location, <a href="contact" class="purple">let us
              know</a> - we might be heading your way 😜.</p>

            <h2 class="faq-question-title">Is there an Android app?</h2>
            <p>We are working hard to get an android app out to our users!  Please sign up for our beta list
            <a href="http://eepurl.com/bQY5Hr" class="purple">here</a> and we will let you know when you can
            get an early release!</p>

            <h2 class="faq-question-title">How do I redeem a coupon code?</h2>
            <p>To redeem a coupon code within the app go to Settings -> Account Credits.
            Your account balance will update automatically</p>

            <footer class="app-store-link-footer">
              <ul class="actions">
                <li></li>
                <li>
                  <a href="http://sparerides.com/app" class="button big"><img src="images/app-store.svg"/></a>
                </li>
              </ul>
            </footer>
				</div>
			</section>


    {% include footer.html %}

	</body>
</html>
