<!DOCTYPE html>

<html lang="en">

  {% include head-index.html %}

	<body class="landing">
		<!-- Banner -->
      {% include gtm.html %}
      {% include header.html %}

			<section id="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(103, 37, 111, 0.60)), url({{ page.heroImage }})">
        <div class="notification-corner"><a href="https://sparerides.com/richmond-ubc-infographic"><img src="images/infographic-update.svg"/></a></div>
        <h2>{{ page.title }}</h2>
        <div>
            <a href="https://www.youtube.com/watch?v=0jdawA6Hsp4" class="button big play-video swipebox-video" type="submit"><img class="play-button" src="images/play-image.png"/></a>
        </div>
				<div class="container">
            <br />
				    <div class="12u$ inline">
						    <a href="ride-app" class="button big ride-button" type="submit">{{ page.heroRideButtonTitle }}</a>
					  </div>
            <br />
          <div class="12u$ inline">
            <a href="https://sparerides.com/ios" class="app-store-button"><img src="images/app-store.svg"/></a>
          </div>
          <div class="12u$ inline">
            <a href="https://sparerides.com/android" class="app-store-button android"><img src="images/google-play-store.png"/></a>
          </div>
        </div>
        <div class="container news-box">
          	<div class="box alt">
						    <div class="row 50% uniform">
                    <div class="3u 4u$(medium) 6u$(small)">
                        <a href="http://www.vancitybuzz.com/2016/02/spare-rides-vancouver-ride-share/">
                          <span class="image fit medium-padded hero-media"><img class="svg" src="images/vcb-logo-white.svg" alt="" /></span>
                        </a>
                    </div>
                    <div class="3u 4u$(medium) 6u$(small)">
                        <a href="http://bc.ctvnews.ca/vancouver-companies-ready-for-uber-competition-1.2758372">
                          <span class="image fit medium-padded hero-media"><img class="svg" src="images/ctv-logo-white.svg" alt="" /></span>
                        </a>
                    </div>
                    <div class="3u 4u$(medium) 6u$(small)">
								        <a href="http://www.vancouversun.com/spare+rides+brings+carpooling+into+21st+century/11739353/story.html">
                          <span class="image fit medium-padded hero-media"><img class="svg" src="images/vancouver-sun-logo-white.svg" alt="" /></span>
                        </a>
                    </div>
                    <div class="3u 4u$(medium) 6u$(small)">
								        <a href="http://www.cbc.ca/news/canada/british-columbia/carpooling-spare-rides-app-launches-in-vancouver-1.3461846">
                          <span class="image fit medium-padded hero-media"><img class="svg" src="images/cbc-logo-white.svg" alt="" /></span>
                        </a>
                    </div>
                  </div>
              </div>
        </div>
        {% include footer.html %}
			</section>
	</body>
</html>
