<!DOCTYPE html>

<html lang="en">

  {% include head-index.html %}

	<body class="landing">
		<!-- Banner -->
      {% include gtm.html %}
      {% include header.html %}

			<section id="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(138, 63, 0, 0.40)), url({{ page.heroImage }})">

        <h2>{{ page.title }}</h2>
				<h3>{{ page.subtitle }}</h3>

				<div class="container">
				    <div class="12u$ inline">
						    <a href="ride" class="button big ride-button" type="submit">{{ page.rideButtonTitle }}</a>
					  </div>
				    <div class="12u$ inline">
                <a href="drive" class="button big drive-button" type="submit">{{ page.driveButtonTitle }}</a>
					  </div>
            <br />
          <div class="12u$ inline">
            <a href="https://sparerides.com/app" class="app-store-button"><img src="images/app-store.svg"/></a>
          </div>
          <div class="12u$ inline">
            <a href="http://eepurl.com/bQY5Hr" class="app-store-button android"><img src="images/google-play-store.png"/></a>
          </div>
        </div>
        {% include footer.html %}
			</section>


	</body>
</html>
