<!DOCTYPE html>

<html lang="en">

  {% include head-page.html %}

	<body class="landing">
		<!-- Banner -->
      {% include gtm.html %}
      {% include header.html %}

      <section id="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(25, 61, 72, 0.6)), url({{ page.heroImage }})">
				<h1>{{ page.title }}</h1>
			</section>
      <section id="none" class="wrapper style2 dark special">
  				<div class="container">
  					<header class="major">
  						<h2>Meet the Spare Team!</h2>
  					</header>
  					<section class="profiles">
  						<div class="row">
                <section class="4u 6u(medium) 12u$(small) profile">
  								<img src="images/mira-pic.jpg" class="profile-pic" alt="" />
  								<h3 class="team-name">Mira Soullen</h3>
  								<h4 class="team-subtext">Head of Marketing</h4>
                  <h4 class="team-subtext">mira@sparerides.com</h4>
  							</section>
  							<section class="4u 6u(medium) 12u$(small) profile">
  								<img src="images/josh-pic.jpg" class="profile-pic" alt="" />
  								<h3 class="team-name">Josh Andrews</h3>
  								<h4 class="team-subtext">Co Founder and Developer</h4>
                  <h4 class="team-subtext">josh@sparerides.com</h4>
  							</section>
  							<section class="4u 6u$(medium) 12u$(small) profile">
  								<img src="images/kristoffer-pic.jpg" class="profile-pic" alt="" />
  								<h3 class="team-name">Kristoffer Vik Hansen</h3>
  								<h4 class="team-subtext">Co Founder and CEO</h4>
                  <h4 class="team-subtext">kristoffer@sparerides.com</h4>
  							</section>
  							<section class="4u 6u(medium) 12u$(small) profile">
  								<img src="images/alexey-pic.jpg" class="profile-pic" alt="" />
  								<h3 class="team-name">Alexey Indeev</h3>
  								<h4 class="team-subtext">Co Founder and Developer</h4>
                  <h4 class="team-subtext">alexey@sparerides.com</h4>
  							</section>
  						</div>
  					</section>

            <p>Pssst... We're hiring, so <a href="contact" class="purple">send us a message</a> if you like what we do and are interested in joining the team.</p>
  				</div>
				<footer>
					<ul class="actions">
						<li></li>
						<li>
							<a href="http://sparerides.com/app" class="footer-download"><img src="images/app-store.svg"/></a>
						</li>
					</ul>
				</footer>
			</section>

    {% include footer.html %}

	</body>
</html>
