<!DOCTYPE html>

<html lang="en">

  {% include head-page.html %}

	<body class="landing">
		<!-- Banner -->

      {% include header.html %}

      <section id="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(25, 61, 72, 0.6)), url({{ page.heroImage }})">
				<h1>{{ page.title }}</h1>
			</section>
      <section id="none" class="wrapper style2 dark special">
  				<div class="container">
  					<header class="major">
  						<h2>Meet the Spare Team!</h2>
  					</header>
  					<section class="profiles">
  						<div class="row">
  							<section class="4u 6u(medium) 12u$(small) profile">
  								<img src="images/josh-pic.jpg" class="profile-pic" alt="" />
  								<h3>Josh Andrews</h3>
  								<p>Co Founder and Developer</p>
  							</section>
  							<section class="4u 6u$(medium) 12u$(small) profile">
  								<img src="images/kristoffer-pic.jpg" class="profile-pic" alt="" />
  								<h3>Kristoffer Vik Hansen</h3>
  								<p>Co Founder and CEO</p>
  							</section>
  							<section class="4u 6u(medium) 12u$(small) profile">
  								<img src="images/alexey-pic.jpg" class="profile-pic" alt="" />
  								<h3>Alexey Indeev</h3>
  								<p>Co Founder and Developer (report bugs to him)</p>
  							</section>
  						</div>
  					</section>

            <p>Pssst... We're hiring, so <a href="contact-us" class="purple">send us a message</a> if you like what we do and are interested in joining the team.</p>
  				</div>
				<footer>
					<ul class="actions">
						<li></li>
						<li>
							<a href="http://sparerides.com/app" class="button big"><img src="images/app-store.svg"/></a>
						</li>
					</ul>
				</footer>
			</section>

    {% include footer.html %}

	</body>
</html>
